body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    line-height: 1.3;
    background-color: #fff;
    color: rgb(0, 0, 0);
  }
.flex-header{
display: flex;
flex-direction: row;
justify-content:space-between;
align-items: flex-start;
height: 100vh;
}
.img1{
    background-image: url(./img/img1.jpg);
}
.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}
.flex-nav a{
    padding: 10px;
}

.white-background{
    background-color: #ffffff;
}
.btn-order-online{
    box-shadow: 4px 5px #000000;
    border: 2px solid #334834;
    border-radius: 3px;
}
ul li a, li{
    list-style-type: none;
    text-decoration: none;
    color: #3d513f;
    font-size: 15px;
    text-transform:
    uppercase;
}

.border{
    border: 1.5px solid #334834;
    border-radius:3px;
    box-shadow: 10px 5px rgba(255, 225, 0);
}
a:hover{
    text-decoration:underline ;
    font-weight:bold;
}


.flex-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flex-section-background{
    width: 100%;
    height: 400px;
    background-color: rgba(255, 225, 0);
    color: rgb(0, 0, 0);
}

.font-size{
font-size: 50px;
}
.flex-section h1{
    background-color: rgba(255, 255, 255, 0.5);
}

.btn-menu{
    font-size: 14px;
    padding: 10px;
    text-align: center;
    margin: 5px;
}
.btn-menu a{
    text-decoration: none;
    color: black;
}
.btn-menu a:hover{
    color: white;
    background-color: #3d513f;
}
.btn-menu:hover{
    background-color: #334834;
    color: white;
    border: 1px solid white;

}
.font-weight{
    font-weight: 100;
}
.margin-left-top{
    margin-left: 850px;
    margin-top: 80px;
}
.sticky-postion{
    position: sticky;
    top:20px;
}
.fixed-postion{
    position: fixed;
    top: 2px;
}

.flex-middle-part{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.section-items-width{
    width: 900px;
}
.padding-order-catering{
    padding: 50px;
}
.background-color-order-catering{
    background-color: rgba(255, 225, 0);
    color: #000000;
    width: fit-content;
    text-align: center;
    margin: auto;
    align-self: center;
    padding: 20px;

}
.bg-order-catering{
background-image: url(./CrossRoad\ Pattern.jpg);
width: 900px;
height: 600px;
}

.flex-order-catering{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    text-align: center;

}
.grid-display-of-our-photos{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto;
    grid-area: auto;
}

.grid-img-of-five{
    width: 260px;
    height: 250px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 225, 0);
    background-repeat: no-repeat;
    background-size: cover;
}
.padding{
    padding: 10px;
}

/* Change navBar on scroll */
.nav-scrolled .logo-img-container img {
  width: 214px;
  height: 80px;
  padding-top: 70px;
}
  